body {
  margin: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
}
.checkout-summary {
  max-width: 500px;
  background-color: #f2f2f2;
}

.checkout-summary button {
  background-color: #e6f2ff;
  border-color: #80bfff;
}
.checkout-summary button:hover {
  background-color: #cce6ff;
}

.checkout-summary-title {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  background-color: #fff;
}

.checkout-summary-item {
  border-left: 1px solid #e6e6e6;
  border-right: 1px solid #e6e6e6;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: 1px solid #e6e6e6;
  background-color: #fff;
}
.checkout-summary-item h3 {
  color: #99ccff;
}

.checkout-summary-item .item-name,
.checkout-summary-item .item-price {
  padding: 0 1rem;
}

.checkout-summary-item .item-name p,
.checkout-summary-item .item-price p {
  margin: 0;
  padding: 0;
}
.checkout-summary-item button {
  margin-left: 5px;
}

.checkout-summary-item .title {
  font-weight: bold;
}

.checkout-summary-details {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border: 1px solid #e6e6e6;
  border-top: none;
  background-color: #d9d9d9;
}
.checkout-summary-details .right p {
  font-weight: bold;
}
